<% include head %>

<form class="form-horizontal" role="form" action="/ai/upload" method="post">
  <h2>Upload Simulator Program</h2>
  <div class="form-group">
    <label for="selection" class="col-sm-2 control-label">Simulator</label>
    <div class="col-sm-10" style="margin-top: 11px">
      <select id="simulatorSelect" style="color:black" >
        <option value="TuringMachine">TuringMachine</option>
        <option value="AnalyticalMachine">AnalyticalMachine</option>
      </select>
    </div>
  </div>
  
  <div class="form-group">
    <label for="file" class="col-sm-2 control-label">Source Code</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="source-code" name="source_code" required rows="17"></textarea>
    </div>
  </div>

  <div id="explanation" class="form-group">
    Please choose a simulator
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Upload!</button>
    </div>
  </div>
</form>

<script>
  $(document).ready(function(){
    $("#simulatorSelect").change(function(){
      str = $(this).children('option:selected').val();
      if ("TuringMachine" == str)
        $("#explanation").html("<pre>Compile with:\n\tSyntax of Turing Machine Language\n</pre>");
      else if ("AnalyticalMachine" == str)
        $("#explanation").html("<pre>Compile with:\n\tSyntax of Analytic Machine Language\n</pre>");      
    })
  })
</script>

<% include foot %>