<!DOCTYPE html>

<meta charset=utf-8>
<meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
<title>Difference Engine</title>
<style>
    .back {
        background-repeat: repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
    }

    html, body {
        height: 100%;
        margin: 0;
    }

    .wrapper {
        min-height: 100%;
        margin-bottom: -70px;
    }

    .footer,
    .push {
        height: 70px;
    }
</style>

<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
            integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
            integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('body').bootstrapMaterialDesign();
            $('body').attr('style', 'background-image: url(./Babbage_Difference_Engine.jpg)')
        });
    </script>
    
</head>






<body class="back">

    <div class="wrapper">


        <nav class="navbar navbar-expand navbar-light" style="line-height: 0.5; background-color: #f5f5f5de">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="/diff_engine/diff1">计算界面</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/diff_engine/diff2">图形界面</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/diff_engine/diff3">演示界面<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="container" style="background: rgba(255, 255, 255, 0.85); padding-top : 30px">

            <br />
            <div class="row">
                <div class='col-sm-12'>
                    <!--<iframe id="video" width="1061" height="615" src="//player.bilibili.com/player.html?aid=19790287&cid=32271481&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>-->
                    <iframe src="//player.bilibili.com/player.html?aid=19790287&cid=32271481&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
    <style>
        .bottom {
            padding: 16px;
        }

        .footer {
            color: rgba(30, 27, 34, 0.85);
            background: rgba(255, 255, 255, 0.7)
        }
    </style>
    <footer class="footer text-center">
        <br />
        <p>
            <span>Difference Engine Simulator © 2019 </span>
            <span>
                Powered by Ulita
            </span>
        </p>
    </footer>

</body>

</html>