<% include head %>
<div class="jumbotron">
<div class="container">
  <h1>great.simulators <small>-- for Great Ideas in Computer Science 2021</small></h1>
  <p>Have fun playing the simulator.</p>
  <p><a class="btn btn-primary btn-lg" href="/user/list" role="button">Go Watch Simulations</a></p>
</div>
</div>
<% include foot %>