<% include head %>
<div class="jumbotron">
<div class="container">
  <h1>sjtu.cool <small>-- for Great Ideas in Computer Science 2019</small></h1>
  <p>Have fun playing the simulator.</p>
  <p><a class="btn btn-primary btn-lg" href="/battle/list" role="button">Go Watch Simulators</a></p>
</div>
</div>
<% include foot %>